*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-family: "Young Serif", serif;
    font-style: normal;
    font-weight: 400;
}

img {
    width: 100%;
}

@media (min-width: 376px) {
    img {
        border-radius: 0.65em;
    }
    .container {
        max-width: 670px;
        margin: 0 auto;
    }
}


